.body{
    background-image: linear-gradient(#F9F9F9, #FFFBF0);
    color: #0a0a0a;
}

@media screen and (min-width:1440px) {
    .main__conatainer{
        display: flex;
        justify-content: space-between;

    }

    .encripter{
        margin-left: 100px;
    }

   
}
